<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<style>
#header nav { background:#353535; }
.centro { display: flex; justify-content: center; align-items: center; }
section { padding-top: 10px; }
section #title { margin-bottom: 25px; }
/* overwrite silly nav hiding in style.css */
@media print, screen and (max-width: 480px){#header{margin-top:0} section{margin-top:70px} nav{display:block}} 
</style>

  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
          <li class="fork">
            <a href="{{ site.github.repository_url }}">
              <svg viewBox="64 64 896 896" focusable="false" data-icon="github" width="1.5em" height="1.5em" fill="currentColor" aria-hidden="true">
                <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0138.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
              </svg> 
              Star On GitHub</a></li>
          {% if site.show_downloads %}
            <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
            <li class="title">DOWNLOADS</li>
          {% endif %}
		      <li class="downloads"><a href="./">Home</a></li>
          </ul>
        </nav>
      </div><!-- end header <img src='img/home42.png' alt='Home' /> -->

    <div class="wrapper">

      <section>
        <div id="title">
          <div class='centro'> <img src="img/logo.png" width='80px' alt="" /> </div>
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <div class='centro'>
            <a href='https://cran.r-project.org/package=echarty'><img src='https://www.r-pkg.org/badges/version/echarty' alt='CRAN' /></a> &nbsp; 
            <a href='https://github.com/helgasoft/echarty/releases'><img src='https://cranlogs.r-pkg.org/badges/last-day/echarty' alt='counter'/></a> &nbsp;
            <a href='https://twitter.com/echarty_R'><img src='https://img.shields.io/twitter/url?label=Follow%20%40echarty_R&style=social&url=https%3A%2F%2Ftwitter.com%2Fecharty_R' alt='twitter'/></a>
          </div>
          <!--
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
          -->
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>